body{
  font-family: Arial, Helvetica, sans-serif;
  
  /* color definitions */
  --light: #f0eeed;
  --dark: #2e4052;
  --primary: #50c878;
  --red: #f42c04;
  --dark-green: #008000;
  
  /* body colors */
  background-color: var(--light);
  color: var(--dark);
  
  /* header colors */
  --header-background-color: var(--primary); 
  --header-text-color: var(--light);
  
  /* UI Element Colors */
  --element-highlight-color: var(--primary);
  --content-background-color: var(--light);
  --content-text-color: var(--dark);
  --element-negative-color: var(--red);
  --element-positive-color: var(--dark-green);
  
}

#stockChartContainer {
  margin-top:10px;
}

.navbar {
  background-color:var(--header-background-color);
  color: var(--header-text-color);
}

.login-form {
  width: 450px;
  margin: 80px auto;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.login-form form {
  margin-bottom: 15px;
  background: var(--light);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--light);
  border:none;
}

#chart{
  padding-top: 10px;
}

#stock-search-results{
  padding: 5px;
  margin: auto;
  max-width: 75%; 
  justify-content: center;
  visibility: collapse;
}

#stockInfo{
  text-align: center;
}

.panel-heading{
  border-top: 3px dotted var(--primary);
}

#stockHistoryInfo {
  visibility: show;
  max-height: 80px;
  margin-bottom: 10px;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}

#sellButton {
  background-color:var(--red);
}

.interactStockButton {
  margin:5px;
}

.negativeStock {
  color:var(--red);
}

.positiveStock {
  color:var(--dark-green);
}

.module {
  border: 5px solid var(--primary);
  padding: 10px;
}

.jumbotron {
  width: 90%;
}

.stockInfoContainerInList {
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#table_holder {
  display:flex;
  flex-direction:row;
  align-items:stretch;
  justify-content:flex-start;
}

.newsArticle {
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  width:calc(100% / 3);
}

@media screen and (prefers-color-scheme:dark) {
  body {
    background-color: var(--dark);
    color: var(--light);
  }
  .login-form form {
    background: var(--dark);
  }
  
  .positiveStock {
    color: var(--primary);
  }
}