.login-form {
  width: 450px;
  margin: 80px auto;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.login-form form {
  margin-bottom: 15px;
  background: #f9f9f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
  background-color: #30D878;
}

#chart{
  padding-top: 10px;
}

#stock-search-results{
  margin: auto;
  visibility: hidden;
}

#stockInfo{
  text-align: center;
  background-color: green;
}

#stockHistoryInfo {
  height:200px;
  overflow:scroll;
}